/*----- Global --------*/
* {
	box-sizing: border-box;
}

/*----- Type Selectors --------*/
body {
    position: relative;
    min-height: 100vh;
    height: 100%;
    padding: 1em;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}
h1{
    font-size: 18px;
    padding-left: 1em;
    padding-top: 1em;
    text-transform:uppercase;
}
h2{
    font-size: 16px;
    margin: 10px;
}
h1, h2 {
    color: #4d4d4d;
}
p {
    margin: 10px;
    color: #a7a7a7;
    font-size: 12px;
}
hr {
    margin: 2em 0;
    width: 290px;
}
form {
    width: 98%;
}
input {
    border-radius: 5px;
    padding: 1.25em 1em;
    justify-self: flex-start;
}
/*----- Class Selectors --------*/
.avatar, .avatarLarge {
    border-radius: 50%;
}
.avatar {
    width: 90px;
    height: 90px;
}
.avatarLarge {
    width: 115px;
    height: 115px;
}
.card {
    width: 340px;
    height: 150px;
    border-radius: 5px;
    padding: 1rem;
    background-color: white;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4)
}
.modal {
    width: 325px;
    height: 400px;
    margin: 200px auto;
    position: relative;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    padding: 30px 20px;
}
.modal-close {
    position: absolute;
    right: 20px;
    top: 5px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.hidden {
    display: none;
}
.content-center, .grid-container, input, body{
    width: 100%;
}
.grid-container, form, .content-center{
    margin: 0 auto;
}
.grid-container, .content-center, form {
    max-width: 1100px; 
}
.card, .modal, input, hr {
    border: 1px solid #e8e8e8;
}
/*----- Flexbox --------*/
.content-center, .modal, .card, .grid-container, body {
    display: flex;
}
.modal, .content-center, body{
    flex-direction: column;
}
.grid-container{
    flex-wrap: wrap;
}
.content-center, .grid-container{
    justify-content:space-evenly;
}
.grid-container, .content-center {
    gap: 1.5em;
}
.modal, .card{
    align-items: center;
}